@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
/*Home*/
#background{
    object-fit: cover;
    background-size: cover;
    height: 50vh;
    width: 99.1vw;
}
#Impressum {
    text-align: left;
    padding: 2em;
    font-size: 40px;
}
.Ilink{
    text-align: left;
    font-size: 40px;
}
h2 {
    font-weight:600;
    text-decoration: underline;
    font-size: 50px;
}
#rechtliches {
    padding: 2em;
    font-size: 40px;
    text-decoration: none;
}
#rechtliches h2 {
    padding-top: 2em;
    text-decoration: none;
}